<header class="header">
    <nav class="nav">
        <div>
            <img src="assets/profile.jpg" alt="profile" class="profile">
        </div>
        <div class="info">
            <div>
                <h1 class="text-animation" style="font-size: xx-large;">Sheikh Hamiz</h1>
                <p style="font-size: x-large;">Software Developer</p>
            </div>
            <div class="contact">
                <div>
                    <fa-icon [icon] = "phone"></fa-icon>
                    <span>Phone Number:</span>
                    <span>+91 9149999401</span>
                </div>
                <div>
                    <fa-icon [icon] = "email"></fa-icon>
                    <span>Email:</span>
                    <a href="mailto:shkhamiz@gmail.com">shkhamiz&#64;gmail.com</a>
                </div>
                <div>
                    <fa-icon [icon] = "linkedIn"></fa-icon>
                    <span>LinkedIn:</span>
                    <a href="https://www.linkedin.com/in/sheikh-hamiz-1385221a6/" target="_blank">
                        Sheikh Hamiz
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-links">
            <a href="#experience">Experience</a>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
        </div>
    </nav>
</header>
