
<section class="skills" id="skills">
    <div class="it-skills">
       <p style="font-size: x-large;">Technical Skills</p>
       <ul class="skill-template">
            <li *ngFor="let item of technicalSkills" class="skillset">
                <fa-icon [icon]="item.icon" style="font-size: xx-large;"></fa-icon>
                <span>{{item.name}}</span>
                <div>
                    <fa-icon style="font-size: x-large; margin-right: 5px;"  [icon] ="star" *ngFor="let i of [1,2,3,4,5]" (click) ="getIndex(i,item,skillTypes[0])"
                    [ngClass]="getProficiency(i, item)"
                    >
                    </fa-icon>
                </div>
            </li>
       </ul>
    </div>
    <div class="it-skills">
        <p style="font-size: x-large;">Skills</p>
        <ul class="skill-template">
             <li *ngFor="let item of softSkills" class="skillset">
                 <fa-icon [icon]="item.icon" style="font-size: xx-large;"></fa-icon>
                 <span>{{item.name}}</span>
                 <div>
                     <fa-icon style="font-size: x-large; margin-right: 5px;" [icon] ="star" *ngFor="let i of [1,2,3,4,5]" (click) ="getIndex(i,item,skillTypes[1])"
                     [ngClass]="getProficiency(i, item)"
                     >
                     </fa-icon>
                 </div>
             </li>
        </ul>
     </div>

</section>